header{
    text-align: center;
    border: #9f6060   solid 8px   ;
    background-color : #9fea60; 
    font-family:Helvetica   ;
}
h1 {

    font-stretch: expanded; font-family: applegothic;     

}